body{
    background-color:  hsl(235, 18%, 26%);
}
div{
width: 503px;
height: 520px;
flex-shrink: 0;
}
button{
width: 377px;
height: 56px;
flex-shrink: 0;
border-radius: 10px;
border: 1px solid #000;
box-sizing: border-box;
}
p{
width: 359px;
height: 78px;
flex-shrink: 0;
color: #0E0E0E;
font-family: Roboto;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 150%;
}
h1{
width: 315px;
color: #AAA;
font-family: Roboto;
font-size: 56px;
font-style: normal;
font-weight: 700;
line-height: 100%;
}